.kids-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 5rem;
}

.kids-hero-img {
    background-image: url(https://images.unsplash.com/photo-1541580621-cb65cc53084b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 100%;
    width: 80%;
}

.kids-hero-img div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.kids-hero-p1 {
    font-size: 2rem;
    margin: 0;
}

.kids-hero-img div a {
    cursor: pointer;
    background-color: white;
    padding: .5rem 1.8rem;
    color: black;
    border: 2px solid white;
    text-decoration: none;
    transition: all .3s;
}

.kids-item-center {
    text-align: center;
}

.kids-item-center h2 {
    font-size: 1.8rem;
    font-weight: 100;
}

.kids-item-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5rem;
}

.kids-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kids-items img {
    height: 22rem;
}

.kids-text-center {
    display: flex;
    flex-direction: column;
}

.kids-text-center a {
    text-decoration: none;
    color: black;
}

.kids-gate-box {
    margin: 15rem 0rem;
}

.kids-gate-box h2 {
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
}

.kids-gate-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4rem 5rem;
}

.kid-gate-items img {
    height: 25rem;
}

.kid-gate-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

.category-center {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1250px) {
    .kids-hero-img {
        width: 100%;
    }

    .kids-hero {
        padding: 4.3rem 0;
    }
}

/* More */

.kids-pro {
    margin: 13rem 0;
}

.kids-pro h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    margin: 2rem 0rem;
}

.kids-pro-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.kids-pro img {
    height: 27rem;
}

.kids-pro div a {
    margin-top: .5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 1250px) {
    .kids-pro-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .kids-pro-row {
        grid-template-columns: 1fr;
    }
}