.cart-page-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    height: 100vh;
    margin: 0;
}

.cart-items-box {
    display: grid;
    justify-items: center;
}

table {
    border: 1px solid rgba(193, 193, 193, 0.511);
    padding: 10rem 2rem;
    border-spacing: 5rem 0;
}

table th {
    text-transform: uppercase;
}

table td {
    padding: 4rem 2rem;
}

table th, td {
    padding: 1rem 2rem;
}

.cart-info {
    border: 1px solid rgba(193, 193, 193, 0.511);
    padding: 8.2rem 8rem;
}

.cart-info h2 {
    text-transform: uppercase;
}