.cart-page-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10rem 8rem;
    margin-bottom: 8rem;
}

.cart-items-box {
    padding: 0rem;
    min-width: 40rem;
}

.cart-item-box {
    position: relative;
    margin: 4rem 0;
}

.cart-item-box img {
    height: 12rem;
}

.fav-count-box {
    display: flex;
    gap: .5rem;
}

.cart-fav-box a {
    display: flex;
    align-items: center;
    height: 92%;
    border: 2px solid rgb(192, 192, 192);
    padding: 0 1rem;
}

.fav-count-box img {
    height: 2rem;
}

.cart-item-info div {
    margin: .2rem 0;
}

.cart-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cart-name-box p {
    font-weight: 900;
    margin: 0;
}

.cart-name-box img {
    cursor: pointer;
    position: absolute;
    top: 1.7rem;
    right: 0;
    height: 1.5rem;
}

.cart-pro-info {
    display: flex;
    gap: 3rem;
}

.cart-pro-info p {
    font-size: .8rem;
}

.cart-item-info select {
    cursor: pointer;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: 2px solid rgb(192, 192, 192);
}

@media (max-width: 1300px) {
    .cart-page-box {
        padding: 10rem 0;
    }

    .cart-item-box {
        display: flex;
        flex-direction: column;
    }

    .cart-items-box {
        padding: 0rem;
        min-width: 27rem;
    }
}

@media (max-width: 950px) {
    .cart-item-box {
        flex-direction: row;
        margin: 1rem 1rem;
    }

    .cart-page-box {
        grid-template-columns: 1fr;
        padding: 10rem 0;
    }

    .cart-pro-info {
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    .cart-item-box {
        flex-direction: row;
        margin: 1rem 2rem;
    }

    .cart-page-box {
        grid-template-columns: 1fr;
        padding: 10rem 0;
    }

    .cart-pro-info {
        gap: 1rem;
    }
}


/* cart info */

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 18rem;
    padding: 1rem 5rem;
}

.cart-info h2 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.cart-info div {
    width: 100%;
    margin: 1rem 0;
}

.cart-info div p {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cart-info div a {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid;
    padding: .8rem 1.5rem;
    transition: all .3s;
}

.cart-info div a:hover {
    background-color: white;
    color: black;
}

.cart-order-items {
    color: rgb(113, 113, 113);
    margin: 0;
}

.cart-total {
    margin: 0;
}

.cart-line::before {
    content: '';
    width: 100%;
    height: .1rem;
    background-color: black;
}

@media (max-width: 950px) {
    .cart-info {
        width: 90%;
        padding: 1rem 0;
    }
}