.gender-hero-men {
    background-image: url(https://im.uniqlo.com/global-cms/spa/res63000d6c343998e01e22d4ff185ff84dfr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 100%;
    width: 80%;
}

.gender-hero-women {
    background-image: url(/src/assets/img/girl-intro.avif);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 100%;
    width: 80%;
}

.gender-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 5rem;
}

.gender-hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.gender-hero-p1 {
    font-size: 2rem;
    margin: 0;
}

.gender-hero div a {
    cursor: pointer;
    background-color: white;
    padding: .5rem 1.8rem;
    color: black;
    border: 2px solid white;
    text-decoration: none;
    transition: all .3s;
}

@media (max-width: 1250px) {
    .gender-hero-men {
        width: 100%;
    }

    .gender-hero-women {
        width: 100%;
    }

    .gender-hero {
        padding: 4.3rem 0;
    }
}

/* Clothing Categories */

.gender-gate-box {
    margin: 10rem 2rem;
}

.gender-gate-box h2 {
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
}

.gender-gate-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem 6rem;
}

.gender-gate-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

.gender-gate-items img {
    height: 25rem;
}

.image-effect {
    position: relative;
    width: 96%;
}

.image-effect img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-effect::before {
    content: "";
    background: rgba(0, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-effect:hover::before {
    opacity: 1;
    z-index: 1;
}

.image-container::before {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-center {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.category-center label a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1300px) {
    .gender-gate-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 2rem 0rem;
    }
}

@media (max-width: 1000px) {
    .gender-gate-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 0rem;
    }
}

@media (max-width: 500px) {
    .gender-gate-row {
        grid-template-columns: 1fr;
    }
}

/* feature */

.man-feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem 0;
}

.man-feature-box h2 {
    font-weight: 200;
    font-size: 2rem;
    margin: 2rem 0rem;
}

.man-feature-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.man-feature-row div {
    margin: 0rem 1rem;
    transition: all .3s;
}

.man-feature-row div:hover {
    transform: translateY(-1.5rem);
}

.man-feature-box img {
    height: 27rem;
}

.man-feature-row div a {
    margin-top: .5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


/* Collection */

.gender-collection-box {
    margin: 17rem 0;
}

.gender-collection-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.gender-collection-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gender-clothes-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    width: 100%;
}

.gender-collection-row img {
    height: 45rem;
}

@media (max-width: 960px) {
    .gender-collection-box {
        margin: 15rem 0;
    }

    .gender-clothes-img {
        text-align: center;
        flex-direction: column;
    }

    .gender-clothes-img-rev {
        flex-direction: column-reverse;
    }
}

@media (max-width: 660px) {
    .gender-collection-row img {
        height: 30rem;
    }
}



/* Clothing items */

.gender-clothes-box {
    margin: 15rem 0rem;
}

.gender-clothes-img div {
    padding: 5rem;
}

.gender-clothes-img div h3 {
    font-size: 3rem;
}

.gender-clothes-img div a {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;
    transition: all .3s;
}

.gender-clothes-img a:hover {
    color: grey;
}

.gender-clothes-box h3 {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.gender-clothes-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 5rem;
}

.gender-main-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

.main-item-price {
    font-size: 1.2rem;
}

.gender-main-item a {
    text-decoration: none;
    color: black;
}

.gender-item-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.gender-item-box img {
    height: 20rem;
}

.category-center {
    display: flex;
    align-items: center;
}

.gender-items div {
    display: flex;
    flex-direction: column;
}

.gender-items div label a {
    font-size: .9rem;
    text-decoration: none;
    color: black;
}

.gender-items div label {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

@media (max-width: 1500px) {
    .gender-clothes-row {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0rem 2rem;
    }

    .gender-main-item {
        display: none;
    }

    .gender-item-box {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        text-align: center;
    }
}

@media (max-width: 880px) {
    .gender-item-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .gender-item-box {
        grid-template-columns: 1fr;
    }
}