.background1 {
    background-image: url(/src/assets/img/pexels-moose-photos-1036627.jpg);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.background1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 3rem;
}

.intro-text {
    max-width: 40rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.747);
    animation: up .8s;
}

.intro-btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: .7rem 1.7rem;
    font-size: 1rem;
    transition: all .4s ease-in-out;
}

@media (max-width: 450px) {
    .background1 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem 1rem;
    }

    .intro-text {
        text-align: center;
        margin-top: 18rem;
    }

    .shop-btn {
        border: 2px solid rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: .3rem;
        cursor: pointer;
        margin-left: 0rem;
        margin-top: 8rem;
        padding: 0;
        outline: none;
    }
}


/* Special */

.special-background {
    height: 250vh;
    position: relative;
    margin: 7rem 0rem;
}

.special-backgroundM {
    display: none;
    background-color: white;
}

.special-background h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.special-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom img {
    height: 40rem;
    transition: transform 1s ease-in-out;
}

.item-img1 {
    width: 25rem;
}

.item-img4 {
    width: 27rem;
}

.zoom img:hover {
    transform: scale(1.1);
}

.zoom {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom-item1 {
    height: 35rem;
    width: 22rem;
    position: absolute;
    top: 19%;
    left: 12%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.zoom-item2 {
    position: absolute;
    top: 5%;
    right: 12%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.zoom-item3 {
    position: absolute;
    top: 67%;
    right: 50%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.zoom-item4 {
    height: 36rem;
    width: 22rem;
    position: absolute;
    top: 50%;
    right: 15%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.zoom .item1 {
    overflow: hidden;
    margin: 1rem;
}

.zoom .item2 {
    overflow: hidden;
    margin: 1rem;
}

.zoom .item3 {
    overflow: hidden;
    margin: 1rem;
}

.zoom .item4 {
    overflow: hidden;
    margin: 1rem;
}

.btnall-box {
    position: absolute;
}

.btnall-box1 {
    left: -4rem;
}

.btnall-box2 {
    left: -2rem;
}

.btnall-box3 {
    left: -2rem;
}

.btnall-box4 {
    left: -4rem;
}

.special-item-name {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.special-item-name1 {
    font-size: 1.3rem;
}

.special-item-name2 {
    font-size: 2rem;
}

.special-item-name3 {
    font-size: 2rem;
}

.special-item-name4 {
    font-size: 1.3rem;
}

.btnall {
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    color: black;
}

.btnall:hover {
    text-decoration: underline;
}

.fade-in {
    opacity: 1;
}

@media (max-width: 1300px) {

    .special-background {
        height: auto;
        padding: 6rem 0rem;
    }

    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allSpecialItems {
        width: 30rem;
    }

    .zoom {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zoom-item1 {
        height: auto;
        width: auto;
        position: static;
    }

    .zoom-item2 {
        position: static;
    }

    .zoom-item3 {
        position: static;
    }

    .zoom-item4 {
        height: auto;
        width: auto;
        position: static;
    }

    .btnall-box {
        position: static;
        text-align: center;
    }

    .special-item-name {
        text-decoration: none;
        color: black;
        font-weight: 900;
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {

    .special-background h2 {
        text-align: center;
    }

    .special-background {
        height: auto;
        padding: 6rem 0rem;
    }

    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allSpecialItems {
        width: 24rem;
    }
}

@media (max-width: 400px) {
    .zoom img {
        height: 30rem;
    }

    .allSpecialItems {
        width: 20rem;
        padding: 0;
        margin: 0;
    }
}


/* Collection */

.Collection-box {
    margin-bottom: 10rem;
}

.collection-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-info-box h4 {
    text-align: center;
    font-weight: 100;
    font-size: 2.8rem;
}

.collection-title-box {
    display: flex;
    justify-content: center;
}

.collection-title-box p {
    color: rgb(165, 165, 165);
    margin: 0rem 2rem;
    cursor: pointer;
}

.collection-img-box {
    margin: 0rem 10rem;
}

.collection-img-box p {
    margin-top: 0;
}

.collection-img-box a {
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    color: black;
}

.collection-img-box a:hover {
    text-decoration: underline;
}

.collection-img-box div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0rem 0rem;
}

.collection-img-box div div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.collection-img-box div a img {
    height: 32rem;
}


@media (max-width: 1300px) {

    .collection-title-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-content: center;
        align-items: center;
        align-self: center;
    }

    .collection-title-box p {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .collection-img-box div a img {
        height: 28rem;
    }
}