.intro-page-men {
    background-image: url(https://images.unsplash.com/photo-1525334893167-477cff937ef8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    height: 93vh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.intro-page-women {
    background-image: url(/src/assets/img/girl-intro.avif);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    height: 93vh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.intro-page-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.intro-page-text {
    width: 80%;
    margin-left: 7rem;
    display: flex;
    justify-content: flex-start;
}

.intro-page-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-page-box h1 {
    font-size: 1.9rem;
    font-weight: 100;
    margin: .3rem 0rem;
}

.intro-page-box h2 {
    font-size: 1.7rem;
    color: white;
    font-weight: 400;
}

.intro-text-box {
    margin: 2rem;
}

.intro-page-men h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 200;
    color: white;
}


/* feature */

.man-feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.man-feature-box h2 {
    font-weight: 200;
    font-size: 2rem;
    margin: 2rem 0rem;
}

.man-feature-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.man-feature-row div {
    margin: 0rem 1rem;
    transition: all .3s;
}

.man-feature-row div:hover {
    transform: translateY(-1.5rem);
}

.man-feature-box img {
    height: 27rem;
}

.man-feature-row div a {
    margin-top: .5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    text-decoration: none;
    letter-spacing: .1rem
}


/* Collection */

.gender-collection-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.gender-collection-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gender-clothes-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    width: 100%;
}

.gender-collection-row img {
    height: 45rem;
}


/* Clothing Categories */

.gender-gate-box {
    margin: 13rem 0rem;
}

.gender-gate-box h2 {
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
}

.gender-gate-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem 5rem;
}

.gender-gate-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

.gender-gate-items img {
    height: 25rem;
}

.category-center {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.category-center label a {
    color: black;
    text-decoration: none;

}

/* Clothing items */

.gender-clothes-box {
    margin: 15rem 0rem;
}

.gender-clothes-img div {
    padding: 5rem;
}

.gender-clothes-img div h3 {
    font-size: 3rem;
}

.gender-clothes-img div a {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;
    transition: all .3s;
}

.gender-clothes-img a:hover {
    color: grey;
}

.gender-clothes-box h3 {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.gender-clothes-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 5rem;
}

.gender-main-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

.main-item-price {
    font-size: 1.2rem;
}

.gender-main-item a {
    text-decoration: none;
    color: black;
}

.gender-item-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.gender-item-box img {
    height: 20rem;
}

.category-center {
    display: flex;
    align-items: center;
}

.gender-items div {
    display: flex;
    flex-direction: column;
}

.gender-items div label a {
    font-size: .9rem;
    text-decoration: none;
    color: black;
}

.gender-items div label {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}