.intro-page-women {
    background-image: url(/src/assets/img/girl-intro.avif);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    height: 93vh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
